%p= "Hello #{@user.name},"
%p= "You have been unsubscribed from the #{@project.name.capitalize} project at Ativa."
%p For more information, click the link below:
= link_to @project.name.capitalize, project_url(@project)
%br
%p Please come back one day, Love You
%p Thank you,
%p The Ativa team